@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
}
.container{
  display: flex;
  justify-content: space-around;
  margin: 50px;
}
.slide{
  width: 18%;
  height: 80vh;
  background-size: cover;
  position: relative;
  flex: 1;
  transition: .8s;
}
.slide.active{
  flex: 10;
}
.slide h3{
  position: absolute;
  bottom: 30px;
  color: aliceblue;
  font-size: 30px;
  width: 100%;
  text-align: center;
}